<h1>DotaJunkie</h1>

<!-- <div id="DotaImageHeader"> -->
<!-- <img src="http://cdn.dota2.com/apps/dota2/images/blogfiles/bg_thebetaisover.jpg" alt="Dota Official" id="mainDotaImage"> -->
<!-- </div> -->

<% @posts.each do |post| %>
  <!-- <h2><%=post.title %></h2> -->
  <h2><%= link_to post.title, post_path(post) %></h2>

  <!-- #stretchgoal: add upvote function -->
  <%# if (current_user.voted_for? post) == false %>
  <%# button_to "Upvote!",  :onclick => post.liked_by(current_user) %>
  <%# button_to "Downvote.", :onclick => post.downvote_from(current_user) %>
  <%# end %>
<!--
  Upvotes : <%# post.get_upvotes.size %>
  Downvotes : <%# post.get_downvotes.size %>
  <br> -->

  Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.username, user_path(post.user) %>


  <p>
    <div>
      <%# image_tag post.image_url, width: '500px' if post.image_url.present? %>
    </div>
    <%# post.content %>
  </p>
  <hr>
<% end %>

<% if current_user %>
<%= link_to 'New Post', new_post_path %>
<%end%>
